<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="C5" version="2.4.5828.26833" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable-net40+sl50+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="System.Net.Http.Extensions.Compression.Client" version="2.0.5" targetFramework="portable45-net45+win8+wpa81" />
</packages>